<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Quoting_Dojo Home</title>
	<style>
		h1{
			text-align: center;
		}
	</style>
</head>
<body>
	<h1>Welcome to Quoting Dojo!</h1>
	<form action="/quotes" method="post">
		<p>Your Name: <input type="text" name="name" /></p>
		<p>Your Quote: <textarea name="quote"></textarea></p>
		<input type="submit" value="Add My Quote" />
	</form>
	<a href="/quotes"><button>Skip to Quotes!</button></a>
</body>
</html>